/*---------------------------- Typography ----------------------------*/

/*---------------------------- Typography ----------------------------*/

/*
fontfamily: Poppins,sans-serif
font-weight:600/700 ---> titles
font-weight:400 ---> Body
small-text:0.9 rem  
 */

/* ---------------------- Color Style ---------------------------- */


/* ---------------------- Color Style ---------------------------- */

/*
Background: Light (#F2F2F2 or #FBFBFB).

Cards / Sections: White (#FFFFFF) with subtle shadow.

Text: Mostly dark (#000000, #333333), gray (#666666) for secondary info.

Buttons: Black background (#000000) with white text — hover: lighter shade (#333333).

Navbar/Footer: Dark (#000000 or #333333) with light text.
 */
:root {
  --black-900: #000;
  --black-800: #333;
  --black-700: #4d4d4d;
  --black-600: #666;
  --black-500: #808080;
  --black-400: #999;
  --black-300: #b3b3b3;
  --black-200: #cccccc;
  --black-100: #e6e6e6;
  --black-50: #f2f2f2;
  --black-25: #fbfbfb;
}
/* -------------------------- BASE -------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  color: var(--black-900);
  font-family: "Poppins", sans-serif;
  background-color: var(--black-25);
}
h1 {
  font-size: 6.2rem;
}
h2 {
  font-size: 4rem;
  font-weight: 700;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.4rem;
  font-weight: 500;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* .container{
    margin: 0 auto;
    width: 90%;
} */

/* ----------------------------- SECTIONS ----------------------------- */

/* -------------- Navbar Section ------------ */
header {
  background-color: var(--black-50);
  padding: 1rem 7rem;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.navbar-left .logo a {
  font-weight: 700;
  color: var(--black-800);
  font-size: 2rem;
}
.nav-links ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-links a {
  color: var(--black-800);
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  transition: background 0.3s;
  border-radius: 2rem;
}
.nav-links a:hover {
  background-color: var(--black-100);
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.navbar-search {
  background-color: var(--black-100);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.navbar-search input {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: var(--black-100);
  min-width: 40rem;
}
.navbar-search input:focus {
  outline: none;
}
.navbar-search img {
  width: 1.5rem;
  height: 1.5rem;
}
.icons ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.icons img {
  width: 2rem;
  height: 2rem;
}

/* ----------------------------- HERO SECTION ----------------------------- */
.hero-section {
  width: 100%;
  height: 93vh;
  margin-bottom: 20px;
}

.hero-section img {
  width: 100%;
  height: 93vh;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: var(--black-900);
  max-width: 500px;
}

.hero-text h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-text h2 {
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--black-800);
}

.hero-text button {
  padding: 1rem 2rem;
  background-color: var(--black-100);
  color: var(--black-800);
  cursor: pointer;
  font-size: 2rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.hero-text button:hover,
.hero-text button:active {
  background-color: var(--black-200);
  transform: scale(1.05);
}
/* Category Section */
.category-section {
  margin: 0 10%;
  padding: 4rem 0;
}
.category-section h2 {
  margin-bottom: 3rem;
  color: var(--black-900);
  font-weight: 700;
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}
.category-card {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  background-color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3 ease;
  border-left: 4px solid var(--black-100);
  box-shadow: 0px 2px 15px rgb(0, 0, 0,0.04);
}
.category-card:hover {
  border-left-color: var(--black-900);
  transform: translate(8px); /* moving to the right */
  box-shadow: 0px 8px 30px rgb(0, 0, 0,0.1);
  
}
.category-card img {
  width: 100px;
  height: 100px;
  margin-right: 2.5rem;
  transform: translate 0.3 ease;
}
.category-card:hover img{
  transform: rotate(15deg) scale(1.1);
}
.category-card h4{
  font-weight: 600;
  color: var(--black-800);
}
/*  */